/* line 1, ../_tools/compass/sass/_base.scss */
html, body {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* line 8, ../_tools/compass/sass/_base.scss */
img {
  width: 80px;
}

/* line 11, ../_tools/compass/sass/_base.scss */
a {
  color: rgba(0, 51, 0, 0.6);
}

/* line 14, ../_tools/compass/sass/_base.scss */
a:hover {
  color: rgba(0, 51, 0, 0.8);
}

/* line 1, ../_tools/compass/sass/_nav.scss */
.navbar-login {
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
}

/* line 8, ../_tools/compass/sass/_nav.scss */
.navbar-login-session {
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}

/* line 15, ../_tools/compass/sass/_nav.scss */
.icon-size {
  font-size: 87px;
}

/* line 20, ../_tools/compass/sass/_nav.scss */
.navbar-nav > li > a {
  font-size: 18px;
}
/* line 22, ../_tools/compass/sass/_nav.scss */
.navbar-nav > li > a span {
  font-size: 28px;
  padding-right: 10px;
}

/* line 27, ../_tools/compass/sass/_nav.scss */
.navbar-nav {
  padding: 10px;
}

/* line 2, ../_tools/compass/sass/_home.scss */
.main-content {
  position: absolute;
  top: 0;
  bottom: 5;
  left: 0;
  right: -17px;
  font-family: Raleway, Dosis, 'Indie Flower', Oswald, verdana, arial;
  overflow-y: auto;
  height: 100vh;
}

/* line 13, ../_tools/compass/sass/_home.scss */
.content1 {
  position: relative;
  height: 95%;
}

/* line 17, ../_tools/compass/sass/_home.scss */
.content2 {
  position: relative;
  text-align: center;
  font-family: fantasy;
  font-size: 25px;
}
/* line 22, ../_tools/compass/sass/_home.scss */
.content2 .col-sm-12 {
  height: 40px;
  line-height: 50px;
}

/* line 27, ../_tools/compass/sass/_home.scss */
.content3 {
  position: relative;
  height: 100%;
}

/* line 31, ../_tools/compass/sass/_home.scss */
.content4 {
  position: relative;
  height: 100%;
}

/* line 37, ../_tools/compass/sass/_home.scss */
.content5 {
  position: relative;
  height: 100%;
  background-color: black;
}

/* line 43, ../_tools/compass/sass/_home.scss */
.main-image {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #f5f5dc;
  background-image: url("../images/coffee.jpg");
  background-position: 70% 80%;
  background-repeat: no-repeat;
  background-size: 1659 899;
}

/* line 56, ../_tools/compass/sass/_home.scss */
.backImage1 {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #f5f5dc;
  background-image: url("../images/coffeebags2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1280 853;
}

/* line 69, ../_tools/compass/sass/_home.scss */
.backImage2 {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  background-image: url("../images/El-Cafe2-pan.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 1600 295;
  opacity: 0.3;
}

/* line 82, ../_tools/compass/sass/_home.scss */
.backImage3 {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  background-image: url("../images/cupSteam.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 725 475;
}

/* line 95, ../_tools/compass/sass/_home.scss */
.main-verbiage,
.verbiage2 {
  position: absolute;
  top: 92px;
  z-index: 2;
}

/* line 101, ../_tools/compass/sass/_home.scss */
.verbiage1 {
  position: absolute;
  top: 92px;
  z-index: 2;
}

/* line 107, ../_tools/compass/sass/_home.scss */
#step-one,
#step-three {
  color: white;
}

/* line 114, ../_tools/compass/sass/_home.scss */
.gradient1 {
  background-color: #2F2727;
  background-image: url(images/radial_bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  /* Safari 4-5, Chrome 1-9 */
  /* Can't specify a percentage size? Laaaaaame. */
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(transparent), to(lightgray));
  background: -webkit-radial-gradient(circle, transparent, lightgray);
  /* Safari 5.1+, Chrome 10+ */
  background: -moz-radial-gradient(circle, transparent, lightgray);
  /* Firefox 3.6+ */
  background: -ms-radial-gradient(circle, transparent, lightgray);
  /* IE 10 */
}

/* line 127, ../_tools/compass/sass/_home.scss */
.gradient2 {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 10%, transparent 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 10%, transparent 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 10%, transparent 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
}

/* line 1, ../_tools/compass/sass/_extras.scss */
.wrap {
  position: relative;
  overflow: hidden;
  height: 100%;
}
/* line 6, ../_tools/compass/sass/_extras.scss */
.wrap img {
  width: 100%;
  height: auto;
  display: block;
}
/* line 11, ../_tools/compass/sass/_extras.scss */
.wrap:after, .wrap:before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 40px;
  background-color: inherit;
  padding-bottom: 3%;
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(transparent), to(lightgray));
  background: -webkit-radial-gradient(circle, transparent, lightgray);
  /* Safari 5.1+, Chrome 10+ */
  background: -moz-radial-gradient(circle, transparent, lightgray);
  /* Firefox 3.6+ */
  background: -ms-radial-gradient(circle, transparent, lightgray);
  /* IE 10 */
}
/* line 28, ../_tools/compass/sass/_extras.scss */
.wrap:before {
  right: 50%;
  -ms-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -ms-transform: skewX(45deg);
  -webkit-transform: skewX(45deg);
  transform: skewX(45deg);
}
/* line 37, ../_tools/compass/sass/_extras.scss */
.wrap:after {
  left: 50%;
  -ms-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -ms-transform: skewX(-45deg);
  -webkit-transform: skewX(-45deg);
  transform: skewX(-45deg);
}

/* line 48, ../_tools/compass/sass/_extras.scss */
.wrap_small {
  position: relative;
  overflow: hidden;
}
/* line 53, ../_tools/compass/sass/_extras.scss */
.wrap_small img {
  width: 100%;
  height: auto;
  display: block;
}

/* line 59, ../_tools/compass/sass/_extras.scss */
.arrow {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  padding-bottom: 2%;
  background: -moz-radial-gradient(center, ellipse cover, black 0%, rgba(255, 255, 255, 0) 100%);
  /* ff3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, black), color-stop(100%, rgba(255, 255, 255, 0)));
  /* safari4+,chrome */
  background: -webkit-radial-gradient(center, ellipse cover, black 0%, rgba(255, 255, 255, 0) 100%);
  /* safari5.1+,chrome10+ */
  background: -o-radial-gradient(center, ellipse cover, black 0%, rgba(255, 255, 255, 0) 100%);
  /* opera 11.10+ */
  background: -ms-radial-gradient(center, ellipse cover, black 0%, rgba(255, 255, 255, 0) 100%);
  /* ie10+ */
  background: radial-gradient(ellipse at center, #000000 0%, rgba(255, 255, 255, 0) 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff',GradientType=1 );
  /* ie6-9 */
}

/* line 75, ../_tools/compass/sass/_extras.scss */
.arrow:before, .arrow:after {
  content: '';
  position: absolute;
  bottom: 100%;
  width: 50%;
  padding-bottom: 4%;
  background: inherit;
}

/* line 83, ../_tools/compass/sass/_extras.scss */
.arrow:before {
  right: 50%;
  -ms-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -ms-transform: skewX(45deg);
  -webkit-transform: skewX(45deg);
  transform: skewX(45deg);
}

/* line 92, ../_tools/compass/sass/_extras.scss */
.arrow:after {
  left: 50%;
  -ms-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -ms-transform: skewX(-45deg);
  -webkit-transform: skewX(-45deg);
  transform: skewX(-45deg);
}

/* line 1, ../_tools/compass/sass/_pricing.scss */
#plans {
  font-family: Raleway, Arial;
}

/* line 4, ../_tools/compass/sass/_pricing.scss */
.pricing-page-header {
  text-align: center;
  padding: 14px;
}

/* line 8, ../_tools/compass/sass/_pricing.scss */
.panel-pricing {
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}

/* line 13, ../_tools/compass/sass/_pricing.scss */
.panel-pricing:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

/* line 16, ../_tools/compass/sass/_pricing.scss */
.panel-pricing .panel-heading {
  padding: 20px 10px;
}

/* line 19, ../_tools/compass/sass/_pricing.scss */
.panel-pricing .panel-heading .fa {
  margin-top: 10px;
  font-size: 58px;
}

/* line 23, ../_tools/compass/sass/_pricing.scss */
.panel-pricing .list-group-item {
  color: #777777;
  border-bottom: 1px solid rgba(250, 250, 250, 0.5);
}

/* line 27, ../_tools/compass/sass/_pricing.scss */
.panel-pricing .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

/* line 31, ../_tools/compass/sass/_pricing.scss */
.panel-pricing .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

/* line 35, ../_tools/compass/sass/_pricing.scss */
.panel-pricing .panel-body {
  background-color: #f0f0f0;
  font-size: 40px;
  color: #777777;
  padding: 20px;
  margin: 0px;
}

/* line 42, ../_tools/compass/sass/_pricing.scss */
.pricing-middle-header {
  padding: 20px;
}

/* line 47, ../_tools/compass/sass/_pricing.scss */
.list-group-item .form-group {
  margin: 0;
}

/* line 51, ../_tools/compass/sass/_pricing.scss */
.panel-body {
  height: 180px;
}

/* line 54, ../_tools/compass/sass/_pricing.scss */
.individual-img {
  background-image: url("../images/solodrinker.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center top;
}

/* line 60, ../_tools/compass/sass/_pricing.scss */
.family-img {
  background-image: url("../images/coffeedrinkers.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center top;
}

/* line 67, ../_tools/compass/sass/_pricing.scss */
.table-list table {
  width: 100%;
  table-layout: auto;
}
/* line 70, ../_tools/compass/sass/_pricing.scss */
.table-list table td {
  width: 50%;
}
/* line 74, ../_tools/compass/sass/_pricing.scss */
.table-list li {
  text-align: center;
}
/* line 77, ../_tools/compass/sass/_pricing.scss */
.table-list td:nth-child(2) li {
  text-align: left;
}

/* line 1, ../_tools/compass/sass/_delivery.scss */
#delivery {
  position: absolute;
  top: 92px;
}

/* line 5, ../_tools/compass/sass/_delivery.scss */
.input-group {
  padding-bottom: 10px;
}

/* line 1, ../_tools/compass/sass/_payment.scss */
#payments {
  position: absolute;
  top: 92px;
}

/* line 5, ../_tools/compass/sass/_payment.scss */
#totals {
  font-size: 20px;
  font-weight: bold;
}

/* line 10, ../_tools/compass/sass/_payment.scss */
.payment-tables table td:nth-child(1) {
  width: 50%;
}
/* line 13, ../_tools/compass/sass/_payment.scss */
.payment-tables table td:nth-child(2) {
  width: 50%;
}

/* line 19, ../_tools/compass/sass/_payment.scss */
.payment-headers h2 {
  font-weight: bold;
}

/* line 24, ../_tools/compass/sass/_payment.scss */
.pricing-page-footer {
  padding-bottom: 28px;
  margin: 5px;
}
/* line 27, ../_tools/compass/sass/_payment.scss */
.pricing-page-footer button {
  color: black;
  box-shadow: 1px 2px 8px darkgray;
}

@media screen and (min-width: 960px) {
  /* line 34, ../_tools/compass/sass/_payment.scss */
  .payment-tables {
    font-size: 24px;
  }

  /* line 37, ../_tools/compass/sass/_payment.scss */
  #totals {
    font-size: 28px;
    font-weight: bold;
  }
}
/* line 1, ../_tools/compass/sass/_register.scss */
#registration {
  position: absolute;
  top: 92px;
}

/* line 1, ../_tools/compass/sass/_footer.scss */
.footer {
  position: absolute;
  bottom: 0;
  height: 26px;
  padding: 5px;
}
