<div class="container-fluid main-content gradient1" ng-init="getStates()">
    <!-- Plans -->
    <section id="plans">
        <div class="container">
            <div class="row">
                <div class="pricing-page-header">
                    <h1>Please enter your shipping info.</h1>
                    <h4>We treat your coffee like gold. Like black gold (not Texas tea). It will be shipped safely and is guaranteed.</h4>
                </div>
            </div>
            <div class="jumbotron" style="box-shadow: .5px 1px 8px lightgray">
                <div class="container">
                    <div class="row">
                        <h2>Address</h2>
                        <div class="input-group">
                            <span class="input-group-addon">Full Name</span>
                            <input type="text" class="form-control" placeholder="Username">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Address Line 1</span>
                            <input type="text" class="form-control" placeholder="111 Some Street Address">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Address Line 2</span>
                            <input type="text" class="form-control" placeholder="222 Some Street Address">
                        </div>
                        <div class="input-group" style="width: 100%; border: none">
                            <table style="table-layout: auto; width: 100%; border: none">
                                <tr>
                                    <td width="65%">
                                        <span class="input-group-addon">City</span>
                                        <input type="text" class="form-control" placeholder="Atlanta">
                                    </td>
                                    <td width="30%">
                                        <span class="input-group-addon">State</span>
                                        <div class="form-group">
                                            <select class="form-control" id="sel1">
                                                <option disabled selected value></option>
                                                <option ng-repeat="state in states">{{state.name | uppercase}}</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="input-group date">
                            <span class="input-group-addon">Date</span>
                            <input type="text" class="form-control" uib-datepicker-popup ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open2()">
                                    <i class="glyphicon glyphicon-th"></i>
                                </button>
                            </span>
                            <!-- <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-th"></i>
                            </span> -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
</div>
