<div class="container-fluid main-content gradient1">

    <scroll-pnt></scroll-pnt>
    <div class="row content1 wrap_small">
        <div class="main-image"></div>
        <div class="col-sm-12 text-center main-verbiage">
            <h1>A better way to grind</h1>
            <h3>Freshly roasted coffee beans delivered weekly to your door.</h3>
        </div>
        <div class="arrow"></div>
    </div>
    <div class="row content2">
        <div class="col-sm-12">
            <p>How It Works</p>
        </div>
    </div>

    <scroll-pnt></scroll-pnt>
    <div class="row content3 wrap_small">
        <div class="backImage1"></div>
        <div id="step-one" class="col-sm-12 verbiage2 ">
            <h1>1. We get the coffee</h1>
            <p>Each bean is hand selected</p>
            <p>Each bean is measured for precise size</p>
            <p>Each bean is tenderly caressed</p>
        </div>
        <div class="arrow"></div>
    </div>

    <scroll-pnt></scroll-pnt>
    <div class="row content4 wrap_small">
        <div class="backImage2"></div>
        <div id="step-two" class="col-sm-12 verbiage1">
            <h1>We pick-up the coffee</h1>
            <p>We place the coffee in bags</p>
            <p>Each bag is transported in climate-controlled trucks</p>
            <p>Every six hours the bags are rotated to keep the beans uniform and delicious</p>
        </div>
        <div class="arrow"></div>
    </div>
    <scroll-pnt></scroll-pnt>
    <div class="row content5 wrap_small">
        <div class="backImage3"></div>
        <div id="step-three" class="col-sm-12 verbiage2">
            <h1>3. You drink the coffee</h1>
            <p>the coffee taste delicious</p>
            <p>you want more coffee!!</p>
        </div>
        <div class="arrow"></div>
    </div>
    <!-- <div class="row">
    <div id="get-started" class="col-sm-12"><a href="#/register">
        <button type="button" class="btn btn-primary">Get Started</button></a></div>
  </div> -->
  <scroll-pnt></scroll-pnt>
    <div class="row" style="padding-top: 20px">
      <div class="pricing-page-footer text-center">
          <a href="#/register"><button class="btn btn-lg btn-primary" style="width: 200px">Get Started!</button></a>
      </div>
  </div>
</div>
