<div class="container-fluid main-content gradient1">
    <!-- Plans -->
    <section id="payments">
        <div class="container">
            <div class="row">
                <div class="pricing-page-header">
                    <h1>Payment</h1>
                    <h4>Order summary below.</h4>
                </div>
            </div>
            <div class="container">
                <div class="row-fluid payment-top">
                    <div class="col-sm-4 text-center">
                        <div class="panel panel-warning panel-pricing">
                            <div class="panel-heading text-center">
                                <!-- <i class="fa fa-desktop"></i> -->
                                <h3>Choices</h3>
                            </div>
                            <div class="table-list">
                                <table>
                                    <tr>
                                        <td>
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <i class="fa fa-check"></i>
                                                    Cups Per Week</li>
                                                <li class="list-group-item">
                                                    <i class="fa fa-check"></i>
                                                    Price Per Cup</li>
                                                <li class="list-group-item">
                                                    <i class="fa fa-check"></i>
                                                    Weekly Total</li>
                                                <li class="list-group-item">
                                                    <i class="fa fa-check"></i>Grind Type
                                                </li>
                                            </ul>
                                        </td>
                                        <td>
                                            <ul class="list-group">
                                                <li class="list-group-item">14</li>
                                                <li class="list-group-item">$.50</li>
                                                <li class="list-group-item">$7.00</li>
                                                <li class="list-group-item"></li>
                                            </ul>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 text-center">
                    <div class="panel panel-warning panel-pricing">
                        <div class="panel-heading text-center">
                            <!-- <i class="fa fa-desktop"></i> -->
                            <h3>Choices</h3>
                        </div>
                        <div class="table-list">
                            <table>
                                <tr>
                                    <td>
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <i class="fa fa-check"></i>
                                                Cups Per Week</li>
                                            <li class="list-group-item">
                                                <i class="fa fa-check"></i>
                                                Price Per Cup</li>
                                            <li class="list-group-item">
                                                <i class="fa fa-check"></i>
                                                Weekly Total</li>
                                            <li class="list-group-item">
                                                <i class="fa fa-check"></i>Grind Type
                                            </li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul class="list-group">
                                            <li class="list-group-item">14</li>
                                            <li class="list-group-item">$.50</li>
                                            <li class="list-group-item">$7.00</li>
                                            <li class="list-group-item"></li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>


                <div class="col-sm-4 text-center">
                    <div class="panel panel-warning panel-pricing">
                        <div class="panel-heading text-center">
                            <!-- <i class="fa fa-desktop"></i> -->
                            <h3>Choices</h3>
                        </div>
                        <div class="table-list">
                            <table>
                                <tr>
                                    <td>
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <i class="fa fa-check"></i>
                                                Cups Per Week</li>
                                            <li class="list-group-item">
                                                <i class="fa fa-check"></i>
                                                Price Per Cup</li>
                                            <li class="list-group-item">
                                                <i class="fa fa-check"></i>
                                                Weekly Total</li>
                                            <li class="list-group-item">
                                                <i class="fa fa-check"></i>Grind Type
                                            </li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul class="list-group">
                                            <li class="list-group-item">14</li>
                                            <li class="list-group-item">$.50</li>
                                            <li class="list-group-item">$7.00</li>
                                            <li class="list-group-item"></li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</section>
</div>
