<div class="container-fluid main-content gradient1">
  <div class="row-fluid">
    <div class="col-sm-12 text-center">
      <h1>User Registration</h1>
      <h4>Please enter your credentials.</h4>
    </div>
  </div>
  <div class="row-fluid">
    <div class="col-sm-12 registration-wrapper text-center">
      <form role="form" action="/register" method="post" id="registration-form" name="registration">
        <div class="form-group">
          <label>Username:</label>
          <input type="text" name="username" placeholder="Joe" minLength="5" class="form-control"/>
        </div>
        <div class="form-group">
          <label>Password:</label>
          <input type="password" name="password" placeholder="6 character minimum" minLength="6" class="form-control"/>
        </div>
        <div class="form-group">
          <input type="password" name="password2" placeholder="Confirm Password" minLength="6" class="form-control"/>
        </div>
        <div class="form-group">
          <input type="email" name="email" placeholder="email@email.com" class="form-control"/>
        </div>
        <div class="button-holder">
          <button type="submit" class="btn btn-success">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
