<div class="container-fluid main-content gradient1">
    <div id="registration" class="container">
        <div class="row">
            <div class="pricing-page-header">
                <h1>User Registration</h1>
                <h4>Please enter your credentials.</h4>
            </div>
        </div>
        <div class="jumbotron" style="box-shadow: .5px 1px 8px lightgray">
            <div class="container">
                <div class="row-fluid">
                    <form role="form" ng-submit="registerForm(this)" id="registration-form" name="registration">
                    <div class="input-group">
                        <span class="input-group-addon">User Name</span>
                        <input type="text" ng-model="username" class="form-control" placeholder="Joe User" minLength="5">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Password</span>
                        <input type="password" ng-model="password" class="form-control" placeholder="6 character minimum" minLength="6">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Password 2</span>
                        <input type="password" ng-model="password2" class="form-control" placeholder="Confirm Password" minLength="6">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Email Address</span>
                        <input type="email" ng-model="email" class="form-control" placeholder="email@email.com">
                    </div>
                    <div class="button-holder text-center">
                      <button type="submit" class="btn btn-success">Register</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
    <h3 class="warning">{{errorMessage}}</h3>
</div>
